<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hello HTML</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>FCC backend project in NodeJS.</h1>
      <p>All Challenges completed</p>
    </header>
    <main>
      <form action="/name" method="post">
        <label>First Name :</label>
        <input type="text" name="first" value="John" /><br />
        <label>Last Name :</label>
        <input type="text" name="last" value="Doe" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
    <footer>
      <a href="https://glitch.com/~node-esteb">
        Remix this in HyperDev
      </a>
      <a href="https://github.com/Estebmaister/boilerplate-express">
        Clone this in GitHub
      </a>
    </footer>
  </body>
</html>
